# Ignore virtual environment
venv/

# Ignore Python cache
__pycache__/

# Ignore local .env file
.env

# Ignore other files and directories that are typically not meant to be committed
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
tests/web_sources/.DS_Store
