<footer aria-labelledby="footer-heading" class="bg-white">
    <h2 id="footer-heading" class="sr-only">Footer</h2>
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="py-20 xl:grid xl:grid-cols-3 xl:gap-8">
        <div class="grid grid-cols-2 gap-8 xl:col-span-2">
          <div class="space-y-16 md:grid md:grid-cols-2 md:gap-8 md:space-y-0">
            <div>
              <h3 class="text-sm font-medium text-gray-900">{{home.footer_legal}}</h3>
              <ul role="list" class="mt-6 space-y-6">
                <li class="text-sm">
                  <a href="/tos" class="text-gray-500 hover:text-gray-600"
                    >{{home.footer_terms}}</a
                  >
                </li>
                <li class="text-sm">
                  <a href="/privacy" class="text-gray-500 hover:text-gray-600"
                    >{{home.footer_privacy}}</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="space-y-16 md:grid md:grid-cols-2 md:gap-8 md:space-y-0">
            <div>
              <h3 class="text-sm font-medium text-gray-900">{{home.footer_connect}}</h3>
              <ul role="list" class="mt-6 space-y-6">
                <li class="text-sm">
                  <a href="#" class="text-gray-500 hover:text-gray-600"
                    >{{home.footer_contact}}</a
                  >
                </li>
                <li class="text-sm">
                  <a href="#" class="text-gray-500 hover:text-gray-600"
                    >{{home.footer_twitter}}</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- NEWSLETTER
          <div class="mt-16 md:mt-16 xl:mt-0">
          <h3 class="text-sm font-medium text-gray-900">
            {{home.footer_newsletter}}
          </h3>
          <p class="mt-6 text-sm text-gray-500">
            {{home.footer_newsletter_subtitle}}
          </p>
          <form class="mt-2 flex sm:max-w-md">
            <label for="email-address" class="sr-only">Email address</label>
            <input
              id="email-address"
              type="text"
              autocomplete="email"
              required
              class="w-full min-w-0 appearance-none rounded-md border border-gray-300 bg-white px-4 py-2 text-base text-whatsapp-dark placeholder-gray-500 shadow-sm focus:border-whatsapp-dark focus:outline-none focus:ring-1 focus:ring-whatsapp-dark"
            />
            <div class="ml-4 flex-shrink-0">
              <button
                type="submit"
                class="flex w-full items-center justify-center rounded-md border border-transparent bg-whatsapp-dark px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-whatsapp focus:outline-none focus:ring-2 focus:ring-whatsapp-dark focus:ring-offset-2"
              >
              {{home.footer_newsletter_button}}
              </button>
            </div>
          </form>
        </div> -->
      </div>
  
      <div class="border-t border-gray-200 py-10">
        <p class="text-sm text-gray-500">
          Copyright &copy; 2024 Wassfire.
        </p>
      </div>
    </div>
  </footer>
  