{% extends "base.html" %} {% block content %}
<div class="bg-white px-6 py-32 lg:px-8">
  <div class="mx-auto max-w-3xl text-base leading-7 text-gray-700">
    <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Privacy Policy</h1>
    <p class="mt-6 text-xl leading-8">Effective date: 18/March/2024</p>
    <div class="mt-10 max-w-2xl">
     <ul role="list" class="mt-8 max-w-xl space-y-8 text-gray-600">
        <li class="flex gap-x-3">
          <svg class="mt-1 h-5 w-5 flex-none text-whatsapp" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
          </svg>
          <span><strong class="font-semibold text-gray-900">Contact Information.</strong> For any privacy-specific concerns or inquiries, you may contact us at: <a href="mailto:legal@wassfire.com">legal@wassfire.com</a></span>
        </li>
      </ul>
      <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">Information Collection and Use</h2>
      <p class="mt-6">Wassfire.com uses Google Analytics to track website visits, referral sites, and the origin of those visits. This information is used solely for the purpose of analyzing site traffic to improve our service. We do not collect personal information directly from our users. Engagement with our services through WhatsApp and Telegram channels does not involve the collection of personal data by Wassfire.</p>
    </div>
    
    <div class="mt-16 max-w-2xl">
      <h2 class="text-2xl font-bold tracking-tight text-gray-900">Third-Party Services</h2>
      <p class="mt-6">Users should be aware that Wassfire leverages third-party services such as Google Analytics, t.ly, WhatsApp, and Telegram. These services may collect information used to identify you. Wassfire does not share or sell any data with third parties.</p>
    </div>
    <div class="mt-16 max-w-2xl">
      <h2 class="text-2xl font-bold tracking-tight text-gray-900">Data Rights</h2>
      <p class="mt-6">Given that Wassfire does not collect personal data directly from users, data rights are managed through the respective platforms (WhatsApp and Telegram) that users utilize to interact with our services. Please review platform's own policies at <a href="https://faq.whatsapp.com/763734008756778" class="text-blue-600">WhatsApp Channels Terms</a> and <a href="https://telegram.org/tos/eu" class="text-blue-600">Telegram Terms of Service</a>.</p>
    </div>
    <div class="mt-16 max-w-2xl">
      <h2 class="text-2xl font-bold tracking-tight text-gray-900">Changes to This Privacy Policy</h2>
      <p class="mt-6">We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page. You are advised to review this Privacy Policy periodically for any changes.</p>
    </div>
    <div class="mt-16 max-w-2xl">
      <h2 class="text-2xl font-bold tracking-tight text-gray-900">Use of Our Channels</h2>
      <p class="mt-6">By using our channels, users agree to comply with the terms and conditions of Telegram (<a href="https://telegram.org/tos/eu" class="text-blue-600">Telegram Terms of Service</a>) and Whatsapp (<a href="https://faq.whatsapp.com/763734008756778" class="text-blue-600">WhatsApp Channels Terms</a>). It is the user's responsibility to review and adhere to these terms.</p>
    </div>
  </div>
</div>


{% endblock %}
