{% extends "base.html" %} {% block content %}
<div class="bg-white px-6 py-32 lg:px-8">
  <div class="mx-auto max-w-3xl text-base leading-7 text-gray-700">
    <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Terms of Service</h1>
    <p class="mt-6 text-xl leading-8">Updated date: 18/March/2024</p>
    <div class="mt-10 max-w-2xl">
     <ul role="list" class="mt-8 max-w-xl space-y-8 text-gray-600">
        <li class="flex gap-x-3">
          <svg class="mt-1 h-5 w-5 flex-none text-whatsapp" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
          </svg>
          <span><strong class="font-semibold text-gray-900">Contact Information.</strong> For any terms of service specific concerns or inquiries, you may contact us at: <a href="mailto:legal@wassfire.com">legal@wassfire.com</a></span>
        </li>
      </ul>
      <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">1. Agreement to Terms</h2>
      <p class="mt-6">
        Permission is granted to temporarily download one copy of the information on Wassfire's website or channels for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license, you may not:
      </p>
    </div>
    <div class="mt-16 max-w-2xl">
      <h2 class="text-2xl font-bold tracking-tight text-gray-900">2. Use License</h2>
      <ul role="list" class="my-8 max-w-xl space-y-8 text-gray-600">
        <li class="ml-8 flex gap-x-3">
          Modify or copy the materials;
        </li>
        <li class="ml-8 flex gap-x-3">
          Use the materials for any commercial purpose, or for any public display (commercial or non-commercial);
        </li>
        <li class="ml-8 flex gap-x-3">
          Attempt to decompile or reverse engineer any software contained on Wassfire's website;
        </li>
        <li class="ml-8 flex gap-x-3">
          Remove any copyright or other proprietary notations from the materials; or
        </li>
        <li class="ml-8 flex gap-x-3">
          Transfer the materials to another person or "mirror" the materials on any other server.;
        </li>
      </ul>
      <p>This license shall automatically terminate if you violate any of these restrictions and may be terminated by Wassfire at any time.</p>
    </div>
    <div class="mt-16 max-w-2xl">
      <h2 class="text-2xl font-bold tracking-tight text-gray-900">3. Disclaimer</h2>
      <p class="mt-6">The materials on Wassfire's website and channels are provided on an 'as is' basis. Wassfire makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties including, without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights.
      </p>
    </div>
    <div class="mt-16 max-w-2xl">
      <h2 class="text-2xl font-bold tracking-tight text-gray-900">4. Accuracy of Materials</h2>
      <p class="mt-6">The materials appearing on Wassfire's website or channels could include technical, typographical, or photographic errors. Wassfire does not warrant that any of the materials on its website are accurate, complete or current. Wassfire may make changes to the materials contained on its website at any time without notice. However, Wassfire does not make any commitment to update the materials.</p>
    </div>
    <div class="mt-16 max-w-2xl">
      <h2 class="text-2xl font-bold tracking-tight text-gray-900">5. Modifications</h2>
      <p class="mt-6">Wassfire may revise these Terms of Service for its website at any time without notice. By using this website, you are agreeing to be bound by the then current version of these Terms of Service.</p>
    </div>
    <div class="mt-16 max-w-2xl">
      <h2 class="text-2xl font-bold tracking-tight text-gray-900">6. Governing Law</h2>
      <p class="mt-6">These terms and conditions are governed by and construed in accordance with the laws of [Your Location] and you irrevocably submit to the exclusive jurisdiction of the courts in that State or location.</p>
    </div>
    <div class="mt-16 max-w-2xl">
      <h2 class="text-2xl font-bold tracking-tight text-gray-900">7. Transactions</h2>
      <p class="mt-6">All transactions for the purchase of products linked through Wassfire are to be made directly on the brand’s original ecommerce platform. Wassfire is not involved in the transaction process, and any disputes over purchases must be handled directly with the brand in question.</p>
    </div>
    <div class="mt-16 max-w-2xl">
      <h2 class="text-2xl font-bold tracking-tight text-gray-900">8. User Interactions</h2>
      <p class="mt-6">Users may interact with our channels content through emojis, resending/sharing messages, and clicking on product links. Wassfire tracks product link clicks to analyze performance and user interest, which aids in improving service quality and offer relevance.</p>
    </div>
    <div class="mt-16 max-w-2xl">
      <h2 class="text-2xl font-bold tracking-tight text-gray-900">9. Compliance with Third-Party Terms</h2>
      <p class="mt-6">Users must comply with the terms and conditions of third-party services, including WhatsApp and Telegram, when accessing our channels. Wassfire is not responsible for the policies and practices of these third-party platforms.</p>
    </div>
  </div>
</div>


{% endblock %}
